* {
    box-sizing: border-box;
}

body{
    margin: 0;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}
